<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Чаты</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>

<div class="wrapper">
    <div id="header"></div>

    <div class="container wide">
        <h2>Список чатов</h2>

        <input
                id="search"
                type="text"
                placeholder="Поиск по chatId..."
                autocomplete="off"
        >

        <div id="chat-list" class="chat-list"></div>
    </div>
</div>

<script src="/js/chats.js"></script>
</body>
</html>
