<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Bot Texts</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="wrapper">
        <div id="header"></div>
        <div class="container">
            <h2>Edit Bot Texts</h2>

            <div id="list"></div>
        </div>
    </div>


    <script src="/js/edit-texts.js"></script>
    <script>
        fetch("/common/header.html")
            .then(res => res.text())
            .then(html => document.getElementById("header").innerHTML = html);
    </script>
</body>

</html>