body {
    background: #f4f6f9;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.1);
    width: 420px;
}

h2 {
    margin-top: 0;
    text-align: center;
    font-weight: 600;
}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 12px;
    border: 1px solid #ccd1d7;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

#broadcastForm {
      margin-right: 25px;
}

textarea:focus {
    border-color: #4A90E2;
    box-shadow: 0 0 0 3px rgba(74,144,226,0.2);
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: #4A90E2;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #357ABD;
}
