body {
    background: #f4f6f9;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container {
    background: white;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.1);
    width: 420px;
}

h2 {
    margin-top: 0;
    text-align: center;
    font-weight: 600;
}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 12px;
    border: 1px solid #ccd1d7;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
    box-sizing: border-box;
}

#broadcastForm {}

textarea:focus {
    border-color: #4A90E2;
    box-shadow: 0 0 0 3px rgba(74,144,226,0.2);
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: #4A90E2;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #357ABD;
}

/* --- EDIT-TEXTS --- =================================================== */

.text-item {
    margin-bottom: 25px;
}

.text-item textarea {
    width: 100%;
    height: 120px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccd1d7;
    resize: vertical;
}

#header {
    text-align: center;
    width: 480px;
}

.header{
    background: #333;
    padding: 15px 20px;
    display: flex;
    border-radius: 12px;
    justify-content: space-around;
}

/* --- UPLOAD-VIDEOS --- =================================================== */

.video-row {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.video-row button {
    margin-left: 10px;
}

